*{margin:0;padding:0;box-sizing:border-box;}

body{
  font-family:"Arial";
  background:#0b1220;
  color:white;
  overflow-x:hidden;
}

/* زر الإعدادات */
.settings-btn{
  position:fixed;
  top:20px;
  left:20px;
  font-size:30px;
  cursor:pointer;
  background:#1a2540;
  padding:10px 14px;
  border-radius:12px;
  box-shadow:0 0 12px #4fa3ff;
}

/* شاشة الترحيب */
.welcome{
  position:fixed; inset:0;
  background:rgba(0,0,0,.8);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.welcome-box{
  background:rgba(255,255,255,.1);
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 0 25px #4fa3ff;
}

/* عنوان */
.top{
  text-align:center;
  padding:25px;
  background:#111b30;
}

/* البحث */
.search-area{
  padding:25px;
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
}

input,select{
  padding:14px 16px;
  border-radius:10px;
  background:#0f1a2f;
  border:1px solid #23345c;
  color:white;
}

/* الكروت */
.list{
  padding:25px;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:#111b30;
  padding:20px;
  border-radius:16px;
  cursor:pointer;
  border:1px solid rgba(255,255,255,.1);
}

.card:hover{
  transform:scale(1.05);
  box-shadow:0 0 15px #4fa3ff;
}

/* المودال */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.7);
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:#162038;
  padding:30px;
  width:90%;
  max-width:450px;
  border-radius:15px;
}

/* الإعدادات */
.settings-panel{
  position:fixed;
  top:0;
  left:-400px;
  width:300px;
  height:100%;
  background:#111b30;
  padding:25px;
  transition:.4s;
  z-index:99999;
}

.settings-panel.show{
  left:0;
}

.settings-panel label{
  margin-top:10px;
  display:block;
}

.whatsapp,.github{
  color:#4fa3ff;
  display:block;
  margin-top:8px;
}
